<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body lang="en">
    <section id="main">
      <header id="title">
        <h1>{{name}}</h1>
        <span class="subtitle">{{statement}}</span>
      </header>
      <section class="main-block">
        <h2>
          Projects
        </h2>
        {% for pj in projects %}
        <section class="blocks">
          <div class="details">
            <header>
              <h3>
                {{pj.name}}
                <span><a href="{{pj.url}}">{{ pj.url }}</a></span>
              </h3>
              <span class="place">{{pj.company}}</span>
            </header>
            <div>
              <ul>
                {% for ds in pj.description %}
                <li>{{ds}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
        {% endfor %}
      </section>
      <section class="main-block">
        <h2>
          Experiences
        </h2>
        {% for ex in experiences %}
          <section class="blocks">
            <div class="details">
              <header>
                <h3>
                  {{ex.position}}
                  <span>{{ex.start}} - {{ex.end}}</span>
                </h3>
                <span class="place">{{ex.company}}</span>
                <span class="location">{{ex.location}}</span>
              </header>
              <div>
                <ul>
                  {% for ds in ex.description %}
                    <li>{{ds}}</li>
                  {% endfor %}
                </ul>
                </div>
            </div>
          </section>
        {% endfor %}
      </section>
      <section class="main-block concise">
        <h2>
          Education
        </h2>
        {% for ed in educations %}
        <section class="blocks">
          <div class="details">
            <header>
              <h3>
                {{ed.degree}}
                <span>{{ed.start}} - {{ed.end}}</span>
              </h3>
              <span class="place">{{ed.school}}</span>
              <span class="location">{{ed.location}}</span>
            </header>
            <div>
              <ul>
                {% for ds in ed.description %}
                  <li>{{ds}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
        {% endfor %}
      </section>
    </section>
    <aside id="sidebar">
      <div class="side-block" id="contact">
        <h1>
          Contact Info
        </h1>
        <ul>
          <li><i class="fa fa-gitlab"></i> <a href="{{contacts.gitlab}}">{{contacts.gitlab}}</a></li>
          <li><i class="fa fa-github"></i> <a href="{{contacts.github}}">{{contacts.github}}</a></li>
          <li><i class="fa fa-envelope"></i> <a href="mailto:{{contacts.email}}">{{contacts.email}}</a></li>
          <li><i class="fa fa-phone"></i> <a href="tel:{{contacts.phone}}">{{contacts.phone}}</a></li>
          <li><i class="fa fa-address-card"></i> <a href="tel:{{contacts.address}}">{{contacts.address}}</a></li>
        </ul>
      </div>
      <div class="side-block" id="skills">
        <h1>
          Skills
        </h1>
        <ul>
          <li>Omnipresence</li>
          <li>Anonymity</li>
        </ul>
        <ul>
        <ul>
          <li>Ordinarity</li>
          <li>No name rights</li>
        </p>
      </div>
    </aside>
  </body>
</html>
